*{
    background-color: rgb(0, 0, 0);
    margin: 3px 3px 3px;
    border: 2px 2px;
    padding: 6px 6px ;
    text-align: justify;
    color: white;
    
}
.setting{
    color: black;
    font-family: fantasy;

}
#setup{
    color: purple;
    font-family: cursive;
    font-size: medium;
}